body {
 background-image: url("images/home-background.jpg");
 background-color: deepskyblue;
    background-repeat: repeat;
    background-position: top;
    background-size:auto;
   
}

.card-body{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
    padding-top: 65px;
}
