body {
 background-image: url("images/home-background.jpg");
  background-color:  white;
    background-repeat: repeat;
    background-position: top;
    background-size:auto;
    background-clip: text;
    color:black;
    font-family: Georgia, serif;
    font-weight: 500;
}

.card-body, .card{
  border-radius: 20px;
      box-shadow: 2px 2px 2px deepskyblue; 
    background-color: #fffff0;
     
}

.container{
  
  padding-top: 65px;
}
.header {
    background-color: #fffff0;
    justify-content: center;
    padding:10px 5px 0px 5px;
       margin: auto;
  }
  
  h1, h2{
     text-align: center;
      float:none;
  }

  span {
    color: orange;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px black;
  }   
  
  

  h4{
    padding: 15px;
  }
  
h5{
    
    font-size: 15px;
}
p{
  font-size: 18px;
}
  
  .navbar {
    overflow: hidden;
 background-color: deepskyblue;
      margin: 0;
      padding: 0;
      box-shadow: 1px 1px navy;
  }
  
  li a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    
  }
  
  li a:hover {
    color: blue;
    
  }
  
  a{
   
    font-size: 22px;
  }

  a:hover{
    color: orange;
  }

  footer{
      
    padding-bottom: 20px;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  .column-left{
    float: left;
  }
  .column-right{
    float: right;
   
  }

  .column-middle{
    float: 
    max-width 50%;
  }

#profile-image{
    border-radius: 50%;
    box-shadow: 1px 1px 1px black; 
   
}

img{
  max-width: 100%;
  box-shadow: 1px 1px 1px black; 
}
